
#main > h1 {
    margin-bottom: 1em;
    
    border-style: solid;
    border-width: 0 0 1px 0;
    
    padding-bottom: 0.5em;
    
    text-align: center;
}

.criterion {
    display: inline-flex;
    
    /margin: 24px 0;
    
}

.criterion > input {
    font-size: 1em;
}

input[type="number"].dn-day {
    border-radius: 0.25em 0 0 0.25em;
}

input[type="number"].dn-month {
    border-radius: 0 0 0 0;
}

input[type="number"].dn-year {
    border-radius: 0 0.25em 0.25em 0;
}
