.row .card {
    margin-bottom: 20px;
    margin: 16px auto;
}

.filters {
    margin: 0 auto;
    margin-top: 20px;
}

.filter, .filter-title {
    align-self: center;
    color: #888;
}

.filter-title {
    position: relative;
    right: 25px;
}

.filter {
    margin: 4px auto;
}

h2 {
    padding: 5px 0;
    font-weight: bold;
    display: block;
    width: 100%;
}