.card {
    transition : 0.375s;
    box-sizing : border-box;
    
    box-shadow : 0 1px 4px 1px gray;
    border-radius : 0.5em;
    padding : 2em 1.5em;
    
    display: flex;
    flex-direction: column;
}

.round {
    overflow: hidden;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.card-image {
    border-bottom: 1px solid lightgray;
}

.card-image {
    height: 350px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    font-weight: bold;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
}

.price, .name {
    align-self: center;

}

.actions {
    height: 40px;
}

.actions .row {
    padding-left : 2em;
    
}

.actions .row .col {
    padding : 0;
    
}

