
input:not([type]),
input[type="text"],
input[type="password"] {
    transition: 0.375s;
    
    outline: none;
    
    border-width: 0.0625em;
    border-style: solid;
    border-radius: 0.25em;
    
    border-color: lightGray;
    background-color: #FFFFFF;
    color: gray;
}

input:not([type]):hover,
input[type="text"]:hover,
input[type="password"]:hover {
    transition: 0.2s;
    
    border-color: gray;
    color: dimGray;
}

input:not([type]):focus,
input[type="text"]:focus,
input[type="password"]:focus {
    transition: 0.1s;
    
    border-color: #43B5CD;
    color: black;
}
