{% extends 'base.html.twig' %}

{% block style %}
<link rel="stylesheet" href="../layouts/grid.css">
<link rel="stylesheet" href="../style/about_us.css">
{% endblock %}

{% block title %}
À propos de UNISON
{% endblock %}

{% block content %}
<div class="row full">
    <div class="col s12 m12 l12 banner ">
        <img src="../images/about_us/banner.jpg" alt="">
        <h1 class="title">Qui sommes nous ?</h1>
        <div class="col s12 m9 l6">
            <p>
                UNISON est une association qui possède des valeurs fortes.
            </p>
            <p>
                Son but est de vendre des produits fabriqués en France
                afin de reverser de l'argent à des oeuvres caritatives.
            </p>
        </div>
    </div>
    <div class="col s12 m12 l12 pad ">
        <h2 class="title">Des produits de qualité et écologique</h2>
        <div class="container">
            <div class="col s12 m12 l6">
                <img src="../images/about_us/lin.JPG" alt="le lin c'est propre et écologique">
            </div>
            <div class="col s12 m12 l6">
                <p>
                    <strong>Le lin est un choix plus écologique</strong> car la méthode
                    de production du <a href="">tissu en lin</a> à partir de la plante
                    utilise beaucoup moins d'eau qu'il n'en faut pour produire la même quantité
                    de coton.
                </p>
                <p>
                    Ce qui en fait un choix plus écologique.
                    On utilise moins de pesticides dans la culture du lin
                    que dans celle du coton et le lin peut être traité sans usage de produits chimiques.
                    Ce qui est assurément un bonne chose pour la planète.
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12 pad tgrey">
        <h2 class="title">Made in France</h2>
        <div class="container">
            <div class="col s12 m12 l6">
                <p>
                    <strong>Le lin est un choix plus écologique</strong> car la méthode
                    de production du <a href="">tissu en lin</a> à partir de la plante
                    utilise beaucoup moins d'eau qu'il n'en faut pour produire la même quantité
                    de coton.
                </p>
                <p>
                    Ce qui en fait un choix plus écologique.
                    On utilise moins de pesticides dans la culture du lin
                    que dans celle du coton et le lin peut être traité sans usage de produits chimiques.
                    Ce qui est assurément un bonne chose pour la planète.
                </p>
            </div>
            <div class="col s12 m12 l6">
                <img src="../images/about_us/lin.JPG" alt="le lin c'est propre et écologique">
            </div>
        </div>
    </div>
    <div class="col s12 m12 l12 pad ">
        <h2 class="title">Notre équipe</h2>
        <div class="container">
            <p>
                Un paragraphe bien centré haha hihi hihi haha
            </p>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}

{% endblock %}