<header>
    <div class="upper-header">
        <div class="test" style='justify-content: flex-start;'>
            <a class="logo" style='color: white;'>UNISON</a>
        </div>
        <div class="test">
            <input type="search" style='width: 256px;'>
        </div>
        <div class="test" style='justify-content: flex-end;'>
            <a class="icon"><img src="../images/icones-transp/icone-compte.png"></a>
            <a class="icon"><img src="../images/icones-transp/icone-panier.png"></a>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="">
                    À propos de nous
                </a>
            </li>
            <li>
                <a href="">
                    Associations
                </a>
            </li>
            <li>
                <a href="">
                    Vêtements
                </a>
            </li>
        </ul>
    </nav>
</header>